/////////////Colors
$Very-Dark-Gray: hsl(0, 0%, 17%);
$Dark-Gray: hsl(0, 0%, 59%);

/*
 IP Address Tracker Search for any IP address or domain IP Address Location
    Timezone UTC
    <!-- add offset value dynamically using the API -->
    ISP

    */
